body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: white;
    display: grid;
    grid-template: 1fr/1fr;
    font-family: Helvetica, sans-serif;
    align-content: center;
    justify-content: center;
}
h1{
    color: white;
    margin:0;
    padding:0;
}
h2 {
    margin:0;
    padding:0;
}

.main {
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-rows: 4fr 4fr 1fr;
    overflow: scroll;
}

.invite {
    width: fill;
    display: grid;
    color: black;
    align-content: center;
    border-bottom: 2px black solid;
    padding: 5%;
    background-color: darkgray;
}
.brand{
    margin-top: 2vw;
    color: black;
    font-size: 7vw;
}

.brand p{
    font-size: 5vw;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.availableOn {
    font-size: 5vw;
    font-weight: bold;
    margin-top: 10vw;
}
.availableOn p{
    margin-top: 0;
}
.availableOn button {
    background: none;
    border: 0.5vw white solid;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-size: 5vw;
    font-weight: bold;
    padding: 2vw 1vw 2vw 1vw ;
    transition-duration: 0.3s;
}
.availableOn button:hover {
    background-color: white;
}

/*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/


.first{
    border-bottom: 2px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    align-content: center;
    padding: 5%;
    background-color: red;
}
.second {
    border-bottom: 2px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: black;
    align-content: center;
    padding: 5%;
    background-color: white;
}

.display {
    display: grid;
    justify-content: center;
}
.display img {
    margin: auto;
    max-width: 80%;
}

.displaytext{
    color: inherit;
    font-size: 5vw;
}

.displaytext p{
    font-size: 3vw;
    margin-top: 2vw;
    font-weight: bold;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    color: white;
    padding:0;
    margin: 0;
    background-color: red;
}

.footer > *:hover {
    background-color:red;
    color: white;
}

.foot {
    text-align: center;
    border: none;
    background: none;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    font-size: 3vw;
    font-weight: bold;
    padding: 5.5vw 0 5.5vw 1vw ;
    background-color: black;
}

@media screen and (min-width: 650px) {
    
    .main {
        grid-area: 1/1/2/2;
        display: grid;
        grid-template-rows: 1fr 10fr 1fr;

    }
    .invite {
        display: grid;
        grid-template-columns: 1fr 2fr;
        color: white;
        align-content: center;
        border-bottom: 2px black solid;
        padding: 0 0 0 1vw;
        background-color: darkgray;
    }
    .brand{
        margin-top: 0vw;
        color: white;
        font-size: 100%;
    }
    
    .brand p{
        font-size: 70%;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    
    .availableOn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 100%;
        font-weight: bold;
        margin: 0;
        text-align:right;
    }
    .availableOn p{
        margin-top: 1vw;
    }
    .availableOn button {
        background: none;
        border: 2px white solid;
        border-radius: 10px;
        color: black;
        text-decoration: none;
        font-size: 100%;
        font-weight: bold;
        padding: 0 0 0 0 ;
        margin: 1vw 5vw 1vw 5vw;
        transition-duration: 0.3s;
    }
    .availableOn button:hover {
        background-color: white;
    }
    
    /*IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII*/
    .features{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .first{
        width: 45vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        align-content: center;
        background-color: red;
    }
    .second {
        width: 45vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: black;
        align-content: center;
        padding: 0;
        background-color: white;
    }
    .second .display{
        grid-area: 1 / 1 / 2 / 2;
    }
    .second .displaytext {
        grid-column: 1 / 2 / 2 / 3;
    }
    
    
    .display {
        display: grid;
        justify-content: center;
    }
    .display img {
        margin: auto;
        max-width: 80%;
    }
    
    .displaytext{
        color: inherit;
        font-size: 3vw;
    }
    
    .displaytext p{
        font-size: 2vw;
        margin-top: 2vw;
        font-weight: bold;
    }
    
    .footer {
        display: grid;
        grid-area: 3/1/4/2;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: white;
        padding:0;
        margin: 0;
        height:100%;
        position: relative;
    }
    
    .footer > *:hover {
        background-color:red;
        color: white;
    }
    
    .foot {
        height: 100%;
        text-align: center;
        border: none;
        background: none;
        text-decoration: none;
        color: inherit;
        transition: 0.3s;
        font-size: 150%;
        font-weight: bold;
        padding: 2vw 0 2vw 1vw ;
        background-color: black;
    }
}
