.navbar {
    margin-bottom: 0;
  }

body {
    background: white;
    color: #f7f7f7;
    font-family: Helvetica, sans-serif;
}
h1,
h2 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #cdcdcd;
}

.jumbotron {
    background-image: url("../images/blurred-background-many-people.jpg");
    background-position: center;
    background-size: cover;
    color: black;
    text-align: center;
}
.jumbotron p {
    color: black;
    font-size: 26px;
}

.btn-primary {
    color: black;
    background-color: transparent;
    border-color: black;
    margin-bottom: 5px;
}
.btn-primary:hover {
    color: red;
    background-color: transparent;
    border-color: red;
}

.navbar-default {
    border: 0;
}
.navbar-brand{
    font-size: 30px;
}
.navbar-default .navbar-brand {
    color:red;
}
.navbar-default .navbar-nav li a {
    color: black;
    font-size: 16px;
}
.navbar-default .navbar-nav li a:hover {
    background-color: rgba(255,0,0,0.5);
}

.dropdown-menu {
    background: white;
    border-radius: 0;
    border: 0;
}
.dropdown-menu li a {
    padding: 10px;
}
.navbar-default .navbar-nav .dropdown-menu li a:hover {
    background: rgba(255,0,0,0.5);
}
.call-to-action {
    color: red;
    margin-top: 50px;
    text-align: center;
}
.call-to-action p {
    color:black;
    margin-bottom: 30px;
    font-family: sans-serif;
}
.glyphicon-large {
    font-size: 100px;
}

#invite{
    background: rgba(255,255,255,0.5);
}
